COMPOSE_FILE=docker-compose.yml:docker-compose-pg.yml:docker-compose-mysql.yml

POSTGRES_PASSWORD=very_secret
PG_DOMAIN=pg.kontextwork.in

MYSQL_DOMAIN=mysql.kontextwork.in
MARIADB_ROOT_PASSWORD=very_secret

MTU=1342