COMPOSE_FILE=docker-compose.yml:docker-compose-pg.yml:docker-compose-mysql.yml

POSTGRES_PASSWORD=very_secret
PG_DOMAIN=pg.cluster.lan

MYSQL_DOMAIN=mysql.cluster.lan
MARIADB_ROOT_PASSWORD=very_secret

MTU=1342